.elementor-2049 .elementor-element.elementor-element-d8694ac{margin-top:30px;margin-bottom:30px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-2049 .elementor-element.elementor-element-41074a8.elementor-column .elementor-widget-wrap{align-items:space-evenly;}.elementor-2049 .elementor-element.elementor-element-41074a8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:space-evenly;align-items:space-evenly;}.elementor-2049 .elementor-element.elementor-element-41074a8 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-2049 .elementor-element.elementor-element-712e1f8 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2049 .elementor-element.elementor-element-862bb8d:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2049 .elementor-element.elementor-element-862bb8d > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EABB74;}.elementor-2049 .elementor-element.elementor-element-862bb8d > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2049 .elementor-element.elementor-element-862bb8d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2049 .elementor-element.elementor-element-8166371 .ts-section-title{text-align:center;}.elementor-2049 .elementor-element.elementor-element-8166371 .section-title{text-align:center;color:#00070F;font-family:"Sora", Sans-serif;font-size:34px;font-weight:900;}.elementor-2049 .elementor-element.elementor-element-8166371 .ts-section-title i{color:#00070F;}.elementor-2049 .elementor-element.elementor-element-8166371 .ts-section-title .section-title{margin:0px 0px 0px 0px;}.elementor-2049 .elementor-element.elementor-element-8166371 .title-border:after{background:#A87C3A;width:100px;bottom:14%;}.elementor-2049 .elementor-element.elementor-element-8166371 .title-bar span{background:#A87C3A;}.elementor-2049 .elementor-element.elementor-element-8166371 .title-bar span.title-left-bar, .title-bar span{background:#A87C3A;}.elementor-2049 .elementor-element.elementor-element-8166371 .title-bar span.title-left-bar, .title-bar span.title-right-bar{width:100px;}.elementor-2049 .elementor-element.elementor-element-8166371 .section-title span{color:#A87C3A;}.elementor-2049 .elementor-element.elementor-element-8166371 > .elementor-widget-container{margin:0px 0px -2px 0px;}.elementor-2049 .elementor-element.elementor-element-5a8d9f4{text-align:justify;color:#191919;font-family:"Champagne and Limousines", Sans-serif;font-size:22px;font-weight:400;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:20px;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-20px;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group > label, .elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-subgroup label{color:#191919;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group > label{font-family:"Sora", Sans-serif;font-weight:400;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-type-html{padding-bottom:0px;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group .elementor-field{color:#191919;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-button{font-family:"Sora", Sans-serif;font-weight:500;}.elementor-2049 .elementor-element.elementor-element-b746d01 .e-form__buttons__wrapper__button-next{background-color:#FF7B74;color:#FFFFFF;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-button[type="submit"]{background-color:#FF7B74;color:#FFFFFF;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-button[type="submit"] svg *{fill:#FFFFFF;}.elementor-2049 .elementor-element.elementor-element-b746d01 .e-form__buttons__wrapper__button-previous{background-color:#FF7B74;color:#FFFFFF;}.elementor-2049 .elementor-element.elementor-element-b746d01 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-2049 .elementor-element.elementor-element-b746d01 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-2049 .elementor-element.elementor-element-b746d01 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-2049 .elementor-element.elementor-element-b746d01{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}@media(max-width:767px){.elementor-2049 .elementor-element.elementor-element-8166371 .section-title{font-size:30px;}.elementor-2049 .elementor-element.elementor-element-8166371 > .elementor-widget-container{margin:0px 0px 20px 0px;}}@media(min-width:768px){.elementor-2049 .elementor-element.elementor-element-41074a8{width:49.911%;}.elementor-2049 .elementor-element.elementor-element-862bb8d{width:50.089%;}}/* Start custom CSS for section, class: .elementor-element-d8694ac */.banner-area .banner-title {
    display: none;
}

.banner-area .breadcrumb li {
    display: none
}

.banner-area .breadcrumb {
    display: none !important;
}

.header .navbar-container .navbar-light .main-menu > li {
    border-bottom: none;
    text-shadow: 1px 1px #000;
}

#primary-nav {
    justify-content: flex-start !important;
}

.header .navbar-container .navbar-light .main-menu > li {
    border-bottom: none;
    text-shadow: 1px 1px #000;
}

.header-nav-right-info {
    width: 25%;
    padding: 10px 0px;
}

.header-nav-right-info:before {
    position: absolute;
    width: 1px;
    height: 80%;
    content: '';
    background: #3a3530;
    bottom: 0;
    margin: auto;
}

.navbar-sticky.sticky.header-transparent, .navbar-sticky.sticky.nav-classic-transparent {
    background-color: #191919
}

.nav-link:hover {
    color: #eabb74 !important;
}

.dropdown-menu {
    background-color: #eabb74 !important;
}

.dropdown-menu li {
    text-shadow: none !important;
    font-family: "Sora" !important;
}

.dropdown-menu li a {
    font-size: 10.5pt !important;
    color: #fff !important;
    text-shadow: 1px 1px #9d7d4e !important;
}

.dropdown-menu li a:hover {
    opacity: 0.5;
}

.slider-title {
    text-shadow: 1px 2px #000;
}

.slider-title p {
    display: inline;
    color: #ff7b75;
    font-family: "Aladin", sans-serif;
}

.img-titulo-logo {
    width: 700px !important;
    margin: 0 auto;
}

.slider-info {
    text-shadow: 0px 1px white;
}

.slider-btn-area {
    display: none
}

.BackTo {
    background: #EABB74
}

.navbar-toggler {
    background-color: #EABB74 !important;
    border-radius: 0px;
}

.navbar-nav {
    background-color: none;
}

.header .navbar-container .navbar-light .main-menu > li {
    border-bottom: none;
    text-shadow: 1px 1px #000
}

#primary-nav {
    justify-content: flex-start !important;
}

.header-nav-right-info {
    width: 25%;
    padding: 10px 0px
}

.header-nav-right-info:before {
    position: absolute;
    width: 1px;
    height: 80%;
    content: '';
    background: #3a3530;
    bottom: 0;
    margin: auto;
}

.header .navbar-container .navbar-light .header-book-btn {
    padding-left: 30px;
    margin-top: 10px;
}

.slider-item .slider-content .slider-info .info-before-bar {
    margin-right: 0px;
}

.slider-item .slider-content .slider-info .info-after-bar {
    margin-left: 0px;
}

.slider-item .slider-content .slider-info .info-before-bar, .slider-item .slider-content .slider-info .info-after-bar {
    width: 40px;
}

@media (min-width: 1200px) {
    .navbar-sticky.sticky.header-transparent .logo-area, .navbar-sticky.sticky.nav-classic-transparent .logo-area {
        max-width: 140px;
    }
}

.navbar-sticky.sticky.header-transparent, .navbar-sticky.sticky.nav-classic-transparent {
    background: #191919;
}

.header-transparent .logo-area {
    float: right;
    margin-top: 52px;
}

.header-transparent .logo-area .logo {
    max-width: 208px;
}

.navbar-sticky.sticky.header-transparent .logo-area, .navbar-sticky.sticky.nav-classic-transparent .logo-area {
    max-width: 210px;
    margin-top: 8px !important;
}

.navbar-toggler {
    border-radius: 0rem 0rem 0.25rem 0.25rem !important;
}

.elementor-65 .elementor-element.elementor-element-ffdd86f .elementor-gallery-title {
    color: #fff
}

.dropdown-menu {
    background-color: #eabb74 !important;
}

.dropdown-menu li {
    text-shadow: none !important;
    font-family: "Sora" !important;
}

.dropdown-menu li a {
    font-size: 10.5pt !important;
    color: #fff !important;
    text-shadow: 1px 1px #9d7d4e !important;
}

.dropdown-menu li a:hover {
    opacity: 0.5;
}

.header .navbar-container .navbar-light .main-menu > li {
    padding: 0 21px;
    position: relative;
}

@media only screen and (max-width: 1000px) {
    
    .logo-area2 {
        float: right !important;
        margin-top: 48px !important;
    }
    
    .navbar-light .navbar-toggler {
        position: absolute !important;
        left: 0px !important;
    }
    
    .navbar-toggler {
        padding: 0.45rem 1rem !important;
    }
    
    .header-transparent.header .navbar-container .navbar-light {
        padding-top: 25px;
        position: absolute;
        left: 0px;
        top: -2px;
    }
    
    #primary-nav {
        justify-content: flex-start !important;
        position: absolute;
        top: 48px;
    }
}

@media screen and (max-width: 500px) {
    
    #trp-floater-ls {
        right: 0% !important;
    }
}

@media screen and (max-width: 1000px)
{
    #trp-floater-ls {
        left: 70% !important;
    }
    
    .slider-info {
        text-shadow: none;
    }
    
    .intro-box-content .elementor-widget-container {
        height: 350px;
    }
    
    .intro-box-content .elementor-widget-container {
        height: auto;
    }
    
    .navbar-nav {
        background-color: #eabb74 !important;
        width: max-content;
    }
    
    .navbar-nav li {
        text-shadow: none !important;
        font-family: "Sora" !important;
    }
    
    .navbar-nav li a {
        font-size: 10.5pt !important;
        color: #fff !important;
        text-shadow: 1px 1px #9d7d4e !important;
    }
    
    .navbar-nav li a:hover {
        opacity: 0.5;
        color: #fff !important
    }
    
    .header-transparent .logo-area {
        margin-top: 48px !important
    }
}

@media (max-width: 767px)
{
    .header-transparent .logo-area {
        float: left !important;
        margin-top: 46px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .header.header-transparent .navbar-toggler {
        margin-left: auto;
        margin-top: 0px;
    }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Champagne and Limousines';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://www.comunicatura.com/masero/wp-content/uploads/2022/08/Champagne-Limousines-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Champagne and Limousines';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.comunicatura.com/masero/wp-content/uploads/2022/08/Champagne__Limousines.ttf') format('truetype');
}
@font-face {
	font-family: 'Champagne and Limousines';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.comunicatura.com/masero/wp-content/uploads/2022/08/Champagne-Limousines-Italic.ttf') format('truetype');
}
/* End Custom Fonts CSS */